<ons-page id="page2">

    <div class="background"></div>
    <ons-toolbar class="background">
        <div class="left">
            <ons-back-button class="color"></ons-back-button>
        </div>
        <div class="center"></div>
    </ons-toolbar>

    <div class="font-lookhub">
        Create new account
    </div>
    <div class="input-box">
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="box-login">
        <button type="button" name="" id="" class="btn-login btn-lg btn-block">Register Now</button>
    </div>
    <div class="container">
        <div class="normal-font-small">Not a member ?</div>
        <ons-button modifier="quiet" class="color-font-small" id="button-signup">Join now</ons-button>


    </div>
    <div class="font-signin-api">Or sign in with</div>
    <div class="container">
        <button type="button" name="" id="" class="btn-facebook btn-lg"><img src="./images/facebook-icon.png"
                class="img-icon">facebook</button>
        <button type="button" name="" id="" class="btn-google btn-lg "><img src="./images/google.png"
                class="img-icon">google</button>
    </div>
</ons-page>